<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Get a deeper insight into who I am as a person.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">My Beginning and Present</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started my science and engineering carrier with the VIT UNIVERSITY by opting for information technology as my carrier field. Working with the designs and codes is the path that I created for myself that's based upon one question that I still found myself asking "how does it work ?".
One question that keeps me engaged in this field is how it works.
The amazing aspect that I find about my carrier is how development progressed over years is continuing to do so. Its such a refreshing feeling that I constantly find myself being educated whether its from an opportunity to try something new or from the globe of questions that I keep on asking myself.
</p>
                                </div>
                            </div>
                        </li>
						
						 <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/edu.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> Currently I am in my 3rd year B-Tech pursuing Information Technology from VIT UNIVERSITY,Vellore. I did schooling from my home town,Yamunanagar,Haryana.My Senior Secondary as well as High School is from Sacred Heart Convent School, Jagadhri,Haryana.I miss my school a lot. It's one of the best phase of life.
									
</p>
                                </div>
                            </div>
                        </li>
						
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   
                                    <h4 class="subheading">Fun Facts About Me</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I love Ice-Creams and Cartoons.I had a dog named bruno which got stolen last year. My favourite number is 18. I'm not a huge fan of Sharukh Khan and Ranbir Kapoor. I work out daily, like it's my life. I knew what I wanted to do at the age of 13.I play throw ball. My favorite food is Mutter-Paneer. I fall down and get hurt atleast twice a month.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Technical Skills</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have hands on many designer tools and development IDE's. I code in C and Java.
Developed websites using CSS,HTML,JavaScript. Fair knowledge of PHP,PERL,MYSQL. Currently learning and working on BIG DATA using Hadoop. 
!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    
                                    <h4 class="subheading">Family Background</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Currently my family is in district Yamunanagar,State Haryana,India. Its my Home Town also. My father is a business man and is the motivation of my life. Mother is the Housewife. She is the strongest person I have ever known. My brother is an IT Engineer and works for an MNC at Noida, India.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of my
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>